.audio-player {
  margin-top: 40px;
}

#mp3_player {
  display: flex;
  align-items: center;
  width:500px;
  margin-top: 15px;
}

#mp3_player > .btn {
  flex: 0 0 auto;
  margin-right: 10px;
}

#mp3_player > canvas {
  flex: 1 1 auto;
  height:48px;
  border-radius: 5px;
  background:#002D3C;
}
